<% layout('../layouts/boilerplate')%>
    <h1>edit beer</h1>
    <form action="/beers/<%=beer._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="beer[name]" value="<%=beer.name%>">
        </div>
        <div>
            <label for="abv">ABV</label>
            <input type="text" id="abv" name="beer[abv]" value="<%=beer.abv%>">
        </div>
        <div>
            <label for="style">Style</label>
            <input type="text" id="style" name="beer[style]" value="<%=beer.style%>">
        </div>
        <div>
            <label for="ibu">IBU</label>
            <input type="text" id="ibu" name="beer[ibu]" value="<%=beer.ibu%>">
        </div>
        <div>
            <label for="dryHops">Dry Hops</label>
            <input type="text" id="dryHops" name="beer[dryHops]" value="<%=beer.dryHops%>">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea type="text" id="description" name="beer[description] "cols="30" rows="10">
                <%=beer.description%></textarea>
        </div>
        <div>
            <label for="ontap">On Tap</label>
                <select name="beer[ontap]" id="ontap">
                <option value="pouring">Pouring</option>
                <option value="kegged">Kegged</option>
                <option value="previous">Previous</option>
                <option value="bottled">Bottled</option>
            </select>
            <script defer>document.getElementById('ontap').value = "<%=beer.ontap%>";</script>
        </div>
        <button>Edit Beer</button>
        <a href="/beers/<%=beer._id%>">back</a>
    </form>