<% layout('../layouts/boilerplate')%>
<main>
    <div class="allcontent" >
        <div class="menuflex-container">
            <div class="flex-item">
            <p class="new-beer"><%= success %></p>
            </div>
        </div>
        <p class="title" ><%= beer.name %></p>
        <div class="imageblocks" >
            <div>            
                <ul class="menuflex-container" >
                    <li class="flex-item" >ABV - <%= beer.abv%></li>
                    <li class="flex-item" >STYLE - <%= beer.style%></li>
                    <li class="flex-item" >IBU - <%= beer.ibu%></li>
                    <li class="flex-item" >DRY HOPS - <%= beer.dryHops%></li>
                    <li class="flex-item" >STATUS - <%= beer.ontap%></li>
                </ul>
                <br>
                <p class="descriptiontext" ><%= beer.description%></p>
            </div>
        </div>
        <% if(data === 'error'){%>

            <% } else { %>
                <% //console.log(data.hops[0].name + ', ' + data.hops[0].use) %> 
                <% let hopList = [] %>
                 <% for (let i = 0; i < data.hops.length; i++){ %>
                    <% hopList.push(data.hops[i].name) %>
                    <% } %>   
        <div>
            <p>test area for brewfather data</p>
            <p class="descriptiontext" >BF Name = <%= beer.bfName%></p>
            <p class="descriptiontext" >BF ID =<%= beer.bfId%></p>
            <p class="descriptiontext" >Hops =<%= hopList.join(', ')%></p>
            <p class="descriptiontext" >yeast = <%= data.yeast.join(' ') %></p>
        </div>
        <% /* pre testing Map %> 
        <p class="title" >Hops</p>
        <div class="imageblocks" >
            <div>            
                <ul class="menuflex-container" >
                    <li class="flex-item" ><%= data.hops.join(', ')%></li>
                    <li class="flex-item" ><%= data.yeast.join(' ')%></li>
                </ul>
                <br>
            </div>
        </div>
        <% */ %>
        <% } %> 
        <br>   
        <div class="menuflex-container" >
            <% if(currentUser) { %> 
            <div class="flex-item">
            <a id="editButton" href="/beers/<%=beer._id %>/edit">Edit Beer</a>
            </div>
            <form class="flex-item" action="/beers/<%=beer._id%>?_method=DELETE" method="POST" >
                <button id="deleteButton" >Delete Beer</button>
            </form>
            <div class="flex-item">
                <a class="flex-item" href="/taplist">All Beers</a>
            </div>
            <% } else { %> 
            <div class="flex-item">
                <a class="flex-item" href="/taplist">All Beers</a>
            </div>
            <% } %> 
        </div>
    </div>
</main>