<% layout('../layouts/boilerplate')%>
    <h1><%= beer.name %></h1>
    <ul>
        <li><%= beer.abv%></li>
        <li><%= beer.style%></li>
        <li><%= beer.ibu%></li>
        <li><%= beer.dryHops%></li>
        <li><%= beer.description%></li>
        <li><%= beer.ontap%></li>
    </ul>
    <div>
        <a href="/beers/<%=beer._id %>/edit">Edit Beer</a>
        <form action="/beers/<%=beer._id%>?_method=DELETE" method="POST" >
        <button>Delete Beer</button></form>
        <a href="/taplist">All Beers</a>
    </div>
