<% layout('../layouts/boilerplate')%>
<main>
    <div class="allcontent" >
        <div class="menuflex-container">
            <div class="flex-item">
            <p class="new-beer"><%= success %></p>
            </div>
        </div>
        <p class="title" ><%= beer.name %></p> 
        <div class="imageblocks" >
            <div>            
                <ul class="menuflex-container" >
                    <li class="flex-item" >ABV - <%= beer.abv.toFixed(1)%>%</li>
                    <li class="flex-item" >STYLE - <%= beer.style%></li>
                    <li class="flex-item" >IBU - <%= beer.ibu.toFixed()%></li>         
                    <% if(beer.dryHops > 0) { %> 
                    <li class="flex-item" >DRY HOPS - <%= beer.dryHops.toFixed(1)%> g/l</li>
                    <% } %> 
                    <li class="flex-item" >STATUS - <%= beer.ontap%></li>
                    <% let date = new Date(beer.brewedDate * 1000)%>
                    <li class="flex-item" >BREWED - <%= date.toUTCString().slice(8, 16)%></li>
                </ul>
                <br>
                <p class="descriptiontext" ><%= beer.description%></p>
            </div>
        </div>
        <% if(beer === 'error'){%>

            <% } else { %> 
                <% let hotSideHops = [] %>
                <% let hotSideHopsAmount = [] %>
                <% let dryHops = [] %>
                <% let dryHopsAmount = [] %>
                 <% for (let i = 0; i < beer.hopsName.length; i++){ %>
                    <% if (beer.hopsUse[i] === 'Dry Hop'){ %> 
                    <% dryHops.push(beer.hopsName[i]) %>
                    <% dryHopsAmount.push(beer.hopsAmount[i]) %>
                    <% } else {%>
                        <% hotSideHops.push(beer.hopsName[i]) %>
                        <% hotSideHopsAmount.push(beer.hopsAmount[i]) %>
                        <% }} %>
                <% let dryHopsList = [] %> 
                <% let hotSideHopsList = [] %> 
                <% for (let i = 0; i < hotSideHops.length; i++){ %>
                       <% hotSideHopsList.push(hotSideHops[i])} %>
                <% for (let i = 0; i < dryHops.length; i++){ %>
                        <% dryHopsList.push(dryHops[i])} %>
                <% let maltsList = [] %>
                <% /* %>
                <% for (let i = 0; i < beer.malts.length; i++){ %>
                         <% maltsList.push(beer.malts[i]) %>
                <% } */%>
        <% %> 
        <p class="ingredients" >Hops</p>
        <div class="imageblocks" >
            <div>
            <% if(hotSideHopsList.length > 0){ %> 
                <p class="subtitle" >Bittering / Aroma</p>          
                <ul class="menuflex-container" >
                    <li class="ingredients-flex-item" ><%= hotSideHopsList.join(' - ')%></li>
                </ul>
                <p class="ingredients-flex-item"><%= hotSideHopsAmount.map(x => x).reduce((prev, curr) => prev + curr, 0)%>g</p>
                <% } %>
                <% if(dryHopsList.length > 0){ %>  
                <p class="subtitle" >Dry Hops</p>
                <ul class="menuflex-container" >
                    <li class="ingredients-flex-item" ><%= dryHopsList.join(' - ')%></li>
                </ul>
                <p class="ingredients-flex-item"><%= dryHopsAmount.map(x => x).reduce((prev, curr) => prev + curr, 0)%>g</p>
                <% } %>
                <br>
            </div>
        </div>
        <p class="ingredients" >Malts</p>
        <div class="imageblocks" >
            <div>            
                <ul class="menuflex-container" >
                    <li class="ingredients-flex-item" >
                        <% let mainMalts = maltsList.filter(function(malt){ %>
                        <% return malt.amount >= 1; %>
                        <% }) %>
                        <% let minorMalts = maltsList.filter(function(malt){ %>
                        <% return malt.amount < 1; %>
                        <% }) %>
                        <%= mainMalts.map(x => x.supplier + ' - ' + x.name + ` ( ${x.amount} kg )`).join(' | ')%>
                        <%= minorMalts.map(x => x.supplier + ' - ' + x.name + ` ( ${(x.amount * 1000)} g )`).join(' | ')%>
                        
                    </li>
                </ul>
                <br>
            </div>
        </div>

        <% } %>
        <div class="ingredients">Test API = <%= beer.hopsName.length %>  </div>
        <div class="ingredients">Test use = <%= beer.hopsUse.length %>  </div>
        <div class="ingredients">Test alpha = <%= beer.hopsAlpha.length %>  </div>
        <div class="ingredients">Test amount = <%= typeof beer.hopsAmount[0] %>  </div>
        <p class="ingredients" >Yeast</p>
        <div class="imageblocks" >
            <div>            
                <ul class="menuflex-container" >
                    <li class="ingredients-flex-item" ><%= beer.yeast[0].lab + ' - ' + beer.yeast[0].name%></li>
                </ul>
                <br>
                <div class="menuflex-container">
                    <div class="ingredients-flex-item">
                    <%= beer.yeast[0].description%> 
                    </div>
                </div>
            </div>
        </div>

        <% %> 
        <br>
        
            <% if(currentUser) { %>
            <div class="menuflex-container" > 
                <div class="flex-item">
                <a id="editButton" href="/beers/<%=beer._id %>/edit">Edit Beer</a>
                </div>
                <form class="flex-item" action="/beers/<%=beer._id%>?_method=DELETE" method="POST" >
                    <button id="deleteButton" >Delete Beer</button>
                </form>
                <div class="flex-item">
                    <a class="flex-item" href="/taplist">All Beers</a>
                </div>
            </div>
            <div class="menuflex-container" >
                <div class="flex-item" >
                    <br>
                    <p>brewfather data</p>
                    <p class="descriptiontext" >BF Name = <%= beer.bfName%></p>
                    <p class="descriptiontext" >BF ID =<%= beer.bfId%></p>
                    <p class="descriptiontext" >BF UName =<%= process.env.brewFatherUName%></p>
                    <p class="descriptiontext" >BF Pword =<%= process.env.brewFatherPassword%></p>
                </div>
            </div>
            <% } else { %>
            <div class="menuflex-container" >
            <div class="flex-item">
                <a class="flex-item" href="/taplist">All Beers</a>
            </div>
            </div>
            <% } %> 
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</main>