<% layout('../layouts/boilerplate')%>
<main>
    <div class="allcontent" >
        <p class="title" ><%= beer.name %></p>
        <div class="imageblocks" >
            <div>            
                <ul class="menuflex-container" >
                    <li class="flex-item" ><%= beer.abv%></li>
                    <li class="flex-item" ><%= beer.style%></li>
                    <li class="flex-item" ><%= beer.ibu%></li>
                    <li class="flex-item" ><%= beer.dryHops%></li>
                    <li class="flex-item" ><%= beer.ontap%></li>
                </ul>
                <br>
                <p class="descriptiontext" ><%= beer.description%></p>
            </div>
        </div>
        <div>
            <a href="/beers/<%=beer._id %>/edit">Edit Beer</a>
            <form action="/beers/<%=beer._id%>?_method=DELETE" method="POST" >
            <button>Delete Beer</button></form>
            <a href="/taplist">All Beers</a>
        </div>
    </div>
</main>