<% layout('../layouts/boilerplate')%>
<main>
    <div class="allcontent" >
        <p class="title" ><%= beer.name %></p>
        <div class="imageblocks" >
            <div>            
                <ul class="menuflex-container" >
                    <li class="flex-item" ><%= beer.abv%></li>
                    <li class="flex-item" ><%= beer.style%></li>
                    <li class="flex-item" ><%= beer.ibu%></li>
                    <li class="flex-item" ><%= beer.dryHops%></li>
                    <li class="flex-item" ><%= beer.ontap%></li>
                </ul>
                <br>
                <p class="descriptiontext" ><%= beer.description%></p>
            </div>
        </div>
        <br>
        <div class="menuflex-container" >
            <div class="flex-item">
            <a href="/beers/<%=beer._id %>/edit">Edit Beer</a>
            </div>
            <form  class="flex-item" action="/beers/<%=beer._id%>?_method=DELETE" method="POST" >
                <a>Delete Beer</a>
            </form>
            <div class="flex-item">
                <a class="flex-item" href="/taplist">All Beers</a>
            </div>
        </div>
    </div>
</main>