<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    <h1><%= beer.name %></h1>
    <ul>
        <li><%= beer.abv%></li>
        <li><%= beer.style%></li>
        <li><%= beer.ibu%></li>
        <li><%= beer.dryHops%></li>
        <li><%= beer.description%></li>
        <li><%= beer.ontap%></li>
    </ul>
    <div>
        <a href="/beers/<%=beer._id %>/edit">Edit Beer</a>
        <form action="/beers/<%=beer._id%>?_method=DELETE" method="POST" >
        <button>Delete Beer</button></form>
        <a href="/taplist">All Beers</a>
    </div>
</body>
</html>