<% layout('../layouts/boilerplate')%>
<main>
	<div class="allcontent">
		<div class="menuflex-container">
            <div class="flex-item">
            <div class="deleted-beer"><%= deleted %></div>
            <div class="new-beer"><%= success %></div>
            </div>
        </div>
    <% if (displayOntap) {%>
		<p class="title" id="ontap" >~ Pouring Now ~</p>
		<% } %>
		<% beers.sort(function(a, b){return a.tapNo - b.tapNo}) %> 
        <% for (let beer of beers) {%>
			<%if(beer.ontap === 'pouring') {%>
			<div class="imageblocks">
				<div>
					<h1 class="beertitle"><%= beer.tapNo %> - <%= beer.name %></h1>
					<ul class="menuflex-container">
						<li class="flex-item"><%= beer.abv.toFixed(1) %>%</li>
						<li class="flex-item"><%= beer.style %></li>
						<li class="flex-item">IBU - <%= beer.ibu.toFixed(0) %></li>
						<% if (beer.dryHops > 0){ %> 
						<li class="flex-item">DRY HOPS - <%= beer.dryHops.toFixed(1) %> g/l</li>
						<% } %> 
				  	</ul>
					<br>
					<p class="descriptiontext"><%= beer.previewDescription %>
					<br>
					<br>
					<a href="/beers/<%=beer._id%>">more</a>
				</div>
			</div>
	<%}}%>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>	
</main>