<% layout('../layouts/boilerplate')%>
    <main>
		<div class="allcontent">
                <p class="title">~ On Tap ~</p>
       		
                <div class="imageblocks">
					<div>
					<h1 class="beertitle">- PAW -</h1>
                    <ul class="menuflex-container">
                        <li class="flex-item">ABV - 4.2%</li>
                        <li class="flex-item">STYLE - Pale Ale</li>
                        <li class="flex-item">IBU - 36</li>
                        <li class="flex-item">DRY HOPS - 6.2 g/l</li>
                      </ul>
                      <br>
					<p class="descriptiontext">Our go to Pale Ale, refreshing and easy drinking like a British Pale but with enough hops to confuse it with an American. We are currently on v4 of this recipe and this batch was fermented with Verdant's IPA yeast.</div>
                </div>
                
                <div class="imageblocks">
					<div>
						<h1 class="beertitle">- Pilsner Pilsner -</h1>
						<ul class="menuflex-container">
							<li class="flex-item">ABV - 4.3%</li>
							<li class="flex-item">STYLE - Pilsner</li>
							<li class="flex-item">IBU - 35</li>
							<li class="flex-item">DRY HOPS - n/a</li>
						  </ul>
                      <br>
					<p class="descriptiontext">Our first lager, based upon the infamous Corona, bittered with a unique variety of hops from New Zealand to add the flavour of lime with out adding the lime.</div>
                </div>
                <div class="imageblocks">
					<div>
						<h1 class="beertitle">- Pineapple Sour -</h1>
						<ul class="menuflex-container">
							<li class="flex-item">ABV - 3.8%</li>
							<li class="flex-item">STYLE - Sour</li>
							<li class="flex-item">IBU - 8</li>
							<li class="flex-item">DRY HOPS - n/a</li>
						  </ul>
                      <br>
					<p class="descriptiontext">Brewed Philly Sour yeast, a strain that produces acid along side alcohol, this batch had eight cans of pineapple blended in to add depth and sweetness.</div>
                </div>
                <div class="imageblocks">
					<div>
					<h1 class="beertitle">- Ol' Red -</h1>
                    <ul class="menuflex-container">
                        <li class="flex-item">ABV - 5.2%</li>
                        <li class="flex-item">STYLE - Red IPA</li>
                        <li class="flex-item">IBU - 37</li>
                        <li class="flex-item">DRY HOPS - 4 g/l</li>
                      </ul>
                      <br>
					<p class="descriptiontext">Our take on a darker IPA which is based on Sierra Nevada's 'Torpedo', more malty than hoppy but still bitter enough to balance it out. Brewed in response to "can you brew me a Doom Bar", please don't let that put you off.</div>
				</div>
                <p class="title">~ Incoming ~</p>
                <div class="imageblocks">
					<div>
						<h1 class="beertitle">- Beard Likker -</h1>
						<ul class="menuflex-container">
							<li class="flex-item">ABV - 10%</li>
							<li class="flex-item">STYLE - Imperial Stout</li>
							<li class="flex-item">IBU - 12</li>
							<li class="flex-item">DRY HOPS - n/a</li>
						  </ul>
                      <br>
					<p class="descriptiontext">Our first attempt at a double figure ABV beer, 5 different types of grain, aged with whiskey soaked wood chips, infused with maple syrup and strained through coffee beans. We originally had 5 gallons until it leaked all over the shed and now we only have a few precious bottles remaining with one ear marked for a homebrew competition. Do the secret handshake and we might give you a bottle to share.</div>
				</div>
				<div class="imageblocks">
					<div>
						<h1 class="beertitle">- Snout Fever -</h1>
						<ul class="menuflex-container">
							<li class="flex-item">ABV - 6.2%</li>
							<li class="flex-item">STYLE - NEIPA</li>
							<li class="flex-item">IBU - 16</li>
							<li class="flex-item">DRY HOPS - 16.3 g/l</li>
						  </ul>
                      <br>
					<p class="descriptiontext">Yes, double digit dry hopping here, a total of 500g of hops went into our first New England IPA. Go big or go home right? Expect fruity and juicy like a cocktail but just like a cocktail, watch out for the percentage.</div>
				</div>
		</div>

        <h1>Tap List</h1>
		<div>
			
            <% for (let beer of beers) {%>
				<div class="imageblocks">
					<div>
						<h1 class="beertitle">- <%= beer.name %> -</h1>
						<ul class="menuflex-container">
							<li class="flex-item">ABV - <%= beer.abv %>%</li>
							<li class="flex-item">STYLE - <%= beer.style %></li>
							<li class="flex-item">IBU - <%= beer.ibu %></li>
							<li class="flex-item">DRY HOPS - <%= beer.dryHops %> g/l</li>
					  	</ul>
					  <br>
					<p class="descriptiontext"><%= beer.description %>
					</div>
					
				</div>
				<a href="/beers/<%=beer._id%>"> more</a>
                <% }%>
			
		</div>
		<div>
            <a href="/new">Add Beer</a>
        </div>
		<br>
		<br>
		<br>
		<br>
		<br>
	
	</main>